#paragraph2{
    background-color: white;
    line-height: 2em;
    width: 60em;
    padding-top: 2em;
    padding-Bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    border: 5px solid green;
    margin: 1.5em;
}

body{
    background-color: lightblue;
}

h1{
    font-size: 3.75em;
    text-align: center;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

li a{
    color: blue;
}

p a{
    color: darkred;
}

li{
    font-size: 1.25em;
    list-style: decimal-leading-zero;
}

table{
    border-collapse: collapse;
}

th, tr, td{
    border: 1px solid black;
    padding: 0.5em;
}

th{
    background-color: lightgray;
}

tr{
    background-color: white;
}

.blue{
    color: white;
    border: 1px solid black;
    background-color: darkblue;
    padding: 1.25em;
}